<div class="share" style="width: 100%;">
  <div style="margin: auto; text-align: center; font-size: 0.8em; color: grey;">
    <div class="social-share" data-initialized="true">
      <a href="#" class="social-share-icon icon-weibo"></a>
      <a href="#" class="social-share-icon icon-qq"></a>
      <a href="#" class="social-share-icon icon-wechat"></a>
      <a href="#" class="social-share-icon icon-qzone"></a>
    </div>
  </div>
</div>
